<!doctype html>

<html>

body {
	text-align: center;
}


h1 {
	font-family: Impact;
	font_weight: bold;
	font-size: 20px;

	
}

h2 {
	font_family: impact;
	font_size: 30px;
	font_weith: bold;
}


</html>
