<!doctype html>

<html>


h1 {
	font-family: Impact;
	font_weight: bold;
	font-size: 20px;

	
}

h2 {
	font_family: impact;
	font_size: 30px;
	font_weith: bold;
}

body {
	text-align: center;
}

title {
	text-align: left
}

</html>
