
body { 
	text-align: left;
	margin-left: 200px;
	margin-right: 200px;
	font-family: Arial;
	font-size: 14px;}

h1{ font-size: 40px;
	text-align: center;
	margin-bottom: 5px;}

h2{ font-size: 20px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;}

h3 {font-size: 20px;
	margin-bottom: 5px;}


span{font-weight: bold;
	display: block;}



