<!doctype html>

<html>

body { 
	font-family: Arial;
	font-size: 14px;
	display: inline-block;
}

h1{ font-size: 40px;
}

h2{ font-size: 25px;}

h3 {font-size: 20px}

span{font-weight: bold;}







</html>
